/data
/validation_output
/txt_files
/model
/log
/pitch_spect
/__pycache__
*.simg
/.cache
/.config
/.nv
/.keras
/._*
/.*.swp
/vlddmm
/*.pyc
/modules/__pycache__/*.pyc
/nn_models/__pycache__/*.pyc
/utils/__pycache__/*.pyc
